.wrapper {
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

.inner-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.err-title {
    margin: 0 0 .3rem 0;
    font-weight: 300;
}

.err-subtext {
    color: darkslategrey;
    margin: 1.1rem 0 1.2rem 0;
    font-size: .9rem;
    font-weight: 100;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.err-img {
    width: 15rem;
    height: 15rem;
}

.home-link{
    font-weight: 100;
    font-size: 1rem;
}


@media screen and (min-width: 1920px) {
    .home-link {
        font-weight: 100;
        font-size: .9rem;
    }
  }