.index-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.inner-wrap {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
}

.left {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
}

.right {
  width: 50%;
}

.logo-title,
.logo-subtext,
.card-title,
.card-subtext {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 300;
}

.logo-title {
  font-size: 2.3rem;
  margin: 0 0 1.9rem 0;
}

.logo-subtext {
  font-size: 20px;
}

.btn-container-index {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.hot-contain {
  background-color: hsla(256, 83%, 5%, 0.15);
  height: 18rem;
  width: 18rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
}

.hot-contain:hover {
  background-color: hsla(256, 83%, 5%, 0.15);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.card-title {
  color: #333333;
  font-weight: 400;
  font-size: 1.4rem;
}

.card-subtext {
  color: darkgreen;
  font-weight: 400;
  font-size: 12.5px;
}

.hot-contain:hover .card-subtext {
  color: #008000;
  text-decoration: underline;
}

.img {
  width: 4.375rem;
  height: 4.375rem;
  margin: 0.3rem 0 0.9rem 0px;
}

.icon-align-center {
  display: inline-block;
  vertical-align: middle;
}

@media (max-width: 2560px) {
  .inner-wrap {
    width: 60%;
  }
}

@media (max-width: 1440px) {
  .inner-wrap {
    width: 80%;
  }
}

@media (max-width: 1280px) {
  .left {
    width: 100%;
    margin-bottom: 1rem;
  }

  .right {
    width: 100%;
  }

  .inner-wrap {
    flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 625px) {
  .btn-container-index {
    flex-direction: column;
  }

  .hot-contain {
    height: 11rem;
    width: 16rem;
  }

  .card-title {
    font-size: 1rem;
  }

  .img {
    width: 3rem;
    height: 3rem;
  }

  .card-subtext {
    font-size: 10px;
  }
}
